* {
  margin: 0;
  padding: 0;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  font-family: OpenSans;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

.header {
  display: block;
  position: relative;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 1;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 45px;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: -1;
}

.navbar {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: normal;
}

.navbar-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.navbar-menu-list-item {
  padding-left: 30px;
  color: #ffffff;
  text-decoration: none;
}

.navbar-menu-list-item:hover {
  color: #959595;
}

.logo {
  width: 200px;
  display: inline-block;
}

.burger {
  display: none;
}

.burger-menu {
  width: 40px;
  display: inline-block;
}

.wrap {
  max-width: 1200px;
  min-width: 360px;
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
  justify-content: center;
}

.header-title {
  width: 750px;
  padding-top: 155px;
  padding-bottom: 165px;
  text-align: center;
  font-size: 4.5rem;
}

.main_content {
  /* min-width: 778px; */
  /* width: 64.8%; */
  background: inherit;
  /* margin-right: 120px; */
  margin-right: 10%;
}

.main_content_card {
  display: flex;
  flex-direction: row;
  background: inherit;
  margin-top: 59px;
}

.main_content_card:nth-child(1) {
  margin-top: 64px;
}

.card-image {
  max-width: 380px;
}

.card-text {
  max-width: 367px;
  margin-left: 30px;
}

.card-text-categories {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  color: #b59f5b;
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.main-category {
  display: inline-block;
  margin-right: 20px;
  color: #b59f5b;
  text-decoration: none;
}

.card-text-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 38px;
  color: #000000;
  text-decoration: none;
}

.card-text-title:hover {
  color: #b59f5b;
}

.main-category:hover {
  text-decoration: underline;
}

.card-text-info {
  margin-bottom: 54px;
}

.date {
  display: inline-block;
  text-transform: none;
  color: #888888;
  font-size: 1.2rem;
  margin-right: 15px;
}

.author {
  display: inline-block;
  text-transform: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.card-text-descriprion {
  text-transform: none;
  font-size: 1.5rem;
}

.aside {
  /* min-width: 287px; */
  width: 24%;
  /* padding-right: 15px; */
  padding-right: 1.25%;
  background: inherit;
}

.new-posts {
  padding-top: 64px;
  width: 100%;
}

.aside-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.aside-title:after {
  content: "";
  display: block;
  width: 66px;
  margin: 9px auto 0 auto;
  border-bottom: 3px solid #b59f5b;
}

.new-posts-card {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  background: inherit;
  margin-top: 22px;
}

.new-posts-image {
  width: 70px;
}

.new-posts-content {
  padding: 0 15px 0 15px;
}

.new-posts-description {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #000000;
  text-decoration: none;
}

.new-posts-description:hover {
  color: #b59f5b;
}

.new-posts-search {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

.search-group {
  width: 100%;
}

.search-field {
  width: 100%;
  height: 48px;
  background: #f4f7f6;
  padding-left: 18px;
  border: none;

  position: relative;
}

.search-button {
  width: 48px;
  height: 48px;
  border: none;
  background: #b59f5b;

  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
}

.search-field:after {
  content: "";
  display: block;
  width: 48px;
  margin: 0 auto 0 auto;
  border-bottom: 3px solid #b59f5b;
}

.mailing {
  width: 100%;
  margin-top: 62px;
}

.mailing-search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mailing-field {
  width: 100%;
  height: 48px;
  background: #f4f7f6;
  padding-left: 18px;
  margin-top: 23px;
  border: none;
  box-sizing: border-box;
}

.mail-button {
  width: 48px;
  height: 48px;
  margin-top: 23px;
  border: none;
  background: #b59f5b;

  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
}

.button {
  width: 100%;
  height: 48px;
  background: #b59f5b;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-top: 17px;
  cursor: pointer;
}

.button:hover {
  background: #b5975b;
}

.tags {
  width: 100%;
  min-height: 154px;
  margin-top: 61px;
  background: inherit;
}

.tag-box {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 24px;
  list-style-type: none;
}

.tag-card {
  display: inline-block;
  box-sizing: border-box;
  padding: 7px;
  margin-right: 5px;
  margin-top: 6px;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #ededed;
  color: #000000;
  text-decoration: none;
}

.tag-card:hover {
  border: 3px solid #b59f5b;
}

.topics {
  width: 100%;
  list-style-type: none;
}

.topics-margin {
  margin-top: 61px;
}

.topic-stroke {
  display: flex;
  border-bottom: 1px solid #eeeeee;
}

.topic-number {
  font-size: 1.2rem;
  font-weight: bold;
  color: #b59f5b;
  padding-top: 10px;
}

.topic {
  height: 47px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 5px 20px 0;
}

.topic-text {
  font-size: 1.4rem;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.topic-text:hover {
  text-decoration: underline;
}

.logos {
  width: 100%;
  background: #f4f7f6;
  margin-top: 64px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logos-area {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.logo-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 30px;
}

.copyright {
  width: 100%;
  height: 128px;
  display: flex;
  margin: auto auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #999999;
}

.wrap-footer {
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 0px 0px 0px 0px;
}

.trends {
  display: block;
  box-sizing: border-box;
  margin-top: 64px;
  margin-bottom: 64px;
}

.trends-title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 29px;
}

.trends-title:after {
  content: "";
  display: block;
  width: 66px;
  margin: 9px auto 0 auto;
  border-bottom: 3px solid #b59f5b;
}

.trends-grid {
  display: flex;
  flex-wrap: wrap;
}

.trends-card {
  width: calc(25% - 4px);
  height: 320px;
  background-color: black;
  /* box-sizing: content-box; */
  position: relative;
}

.trends-card:nth-child(n + 2) {
  margin-left: 4px;
}

.first {
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 1;
}

.second {
  /* width: calc(25% - 4px); */
  background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 1;
}

.third {
  /* width: calc(25% - 4px); */
  background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 1;
}

.fourth {
  /* width: calc(25% - 4px); */
  background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 1;
}

.first:after,
.second:after,
.third:after,
.fourth:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.production {
  max-width: 1200px;
  margin-top: 64px;
  display: flex;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.production-title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 29px;
}

.production-title:after {
  content: "";
  display: block;
  width: 66px;
  margin: 9px auto 0 auto;
  border-bottom: 3px solid #b59f5b;
}

.production-cards {
  display: flex;
  flex-wrap: wrap;
}

.production-card {
  width: 348px;
  min-height: 440px;
  box-sizing: border-box;
  background: inherit;
  position: relative;
}

.production-border {
  position: absolute;
  width: 345px;
  height: 266px;
  bottom: 0;
  border: 3px solid #b59f5b;
}

.production-link {
  font-size: 1.5rem;
  text-transform: none;
  color: #b59f5b;
  text-decoration: none;
}

.production-link:hover {
  text-decoration: underline;
  color: #b59f5b;
}

.production-card:nth-child(1n + 2) {
  margin-left: 65px;
}

.trends-box {
  display: inline-block;
  position: absolute;
  border: 3px solid #b59f5b;
  bottom: 18px;
  left: 18px;
  right: 18px;
}

.trends-cat {
  margin-left: 34px;
}

.trends-descr {
  margin-top: 40px;
}

.trends-subtitle {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 38px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 34px;
  margin-right: 34px;
  font-weight: bold;
}

.production-img {
  max-width: 300px;
  max-height: 205px;
  display: flex;
  margin: 0 auto;
}

.product-card-img {
  /* width: 347px;
  height: 205px; */
  box-sizing: border-box;
  background-color: inherit;
  position: relative;
}

.product-card-body {
  width: 347px;
  min-height: 266px;
  box-sizing: border-box;
  background-color: inherit;
  position: absolute;
  top: 172px;
  border: 3px solid #b59f5b;
}

.product-title {
  margin-top: 54px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.product-descr {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2%;
  overflow: hidden;
}

.product-buy {
  display: flex;
  justify-content: space-between;
  margin: 5% 20px 0 20px;
}

.product-button {
  padding: 19px 29px;
  background: #b59f5b;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.product-cost {
  display: flex;
  flex-direction: column;
  width: 140px;
  background: inherit;
  justify-content: center;
}

.sale-cost {
  width: 100%;
  background: inherit;

  font-size: 1.4rem;
  line-height: 24px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.current-cost {
  width: 100%;
  background: inherit;

  font-size: 2rem;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}


/* ////////////////////POPUP-MENU //////////////////////*/
.popup__toggle {
  display: none;
}

.popup__toggle:checked + .popup {
  display: flex;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup__content {
  position: absolute;
  background: #fff;
  
  width: 30%;
  height: 70%;
  
  padding: 20px;
  box-sizing: border-box;
  z-index: 5;
}

.popup__close {
  position: absolute;
  color: #fff;
  right: -35px;
  top: -40px;
  font-size: 35px;
  
  cursor: pointer;
}

.popup__close:hover {
  color: #778079;
}

.popup__close-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 4;
}

.popup-title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 29px;
}

.popup-title:after {
  content: "";
  display: block;
  width: 66px;
  margin: 9px auto 0 auto;
  border-bottom: 3px solid #b59f5b;
}